{% extends 'layout/layout.html.twig' %}

{% block title %}Liste des livraisons{% endblock %}

{% block body %}
    <div class="containerBackground">
        <h3>Liste des livraisons</h3>
        <br/><br/>
        {% for message in app.flashes('errors') %}
            <div class="alert alert-danger">
                    {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                    {{ message }}
            </div>
        {% endfor %}

        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Référence</th>
                    <th>Fournisseur</th>
                    <th>Produits</th>
                    <th>Quantité</th>
                    <th>Date de la commande</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for livraison in livraisons %}
                <tr {% if livraison.valider == 1  %} class="bg-success text-white" {% endif %} >
                    <td>{{ livraison.reference }}</td>
                    <td>{{ livraison.produits.nomFournisseur }}</td>
                    <td>
                        {% for produit in livraison.produits.produits %}
                            {{ produit.designationProduit }} <br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% for produit in livraison.produits.produits %}
                            {{ produit.quantite }} <br/>
                        {% endfor %}
                    </td>
                    <td>{{ livraison.dateCommandeAt ? livraison.dateCommandeAt|date('Y-m-d') : '' }}</td>
                    <td>
                        {% if livraison.valider == 1  %}
                        <a class="btn btn-warning" class="btn btn-primary"  href="{{ path('livraison_annule', {'id': livraison.id}) }}">Annuler la livraison</a>
                        {% else %}
                        <a class="btn btn-primary" href="{{ path('livraison', {'id': livraison.id}) }}">Effectuer la livraison</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-outline-primary" href="{{ path('commandes_new') }}">Passer une commande</a>
    </div>
{% endblock %}
