{% extends 'layout/layout.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <div class="containerBackground">
        <h3 class="h3 mb-5 font-weight-normal">Liste des produits {{titre}}</h3>

        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Code</th>
                    <th>Désignation</th>
                    <th>PU</th>
                    <th>Péremption</th>
                    <th>Fabricant</th>
                    <th>Forme</th>
                    <th>Famille</th>
                    <th>Quantité</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.code }}</td>
                    <td>{{ produit.designation }}</td>
                    <td>{{ produit.prixUnitaire }}</td>
                    <td>{{ produit.datePeremptionAt ? produit.datePeremptionAt|date('Y-m-d') : '' }}</td>
                    <td>{{ produit.nomFabricant }}</td>
                    <td>{{ produit.forme }}</td>
                    <td>{{ produit.famille.nom }}</td>
                    <td>
                        {% if (produit.quantite == 0) %}
                            0
                        {% else %}
                            {{ produit.quantite }}
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-outline-primary" href="{{ path('produits_edit', {'id': produit.id}) }}"><i class="far fa-edit"></i></a>
                        <form method="post" action="{{ path('produits_delete', {'id': produit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
                            <button class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-outline-primary" href="{{ path('produits_new') }}">Ajouter un produit</a>
    </div>
{% endblock %}
