{% extends 'layout/layout.html.twig' %}

{% block title %}Liste des salaires{% endblock %}

{% block body %}
    <div class="containerBackground">
        <h3 class="text-center">Liste des salaires du mois de : {{ mois }}</h3>
        <br/>
        <form class="form-inline" method="get" class="form-control">
        <label for="anneePaie">Choisissez l'année:</label>
            <select name="anneePaie" id="anneePaie">
            {% for anneePaie in anneePaies %}
                <option value="{{ anneePaie }}">{{ anneePaie }}</option>
            {% endfor %}
            </select><br>
            <button type="submit" class="btn btn-primary">Recherche</button>
        </form>
        <br/>
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item bg-primary text-light font-weight-bold">Liste des mois</li>
                    {% for month in lesmois %}
                        <li class="list-group-item">
                            <a href="{{ path('salaires_mois', {'mois' : month}) }}">
                                <strong>{{ loop.index }}#</strong> - {{ month }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-9">
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>N°Mat</th>
                            <th>Prénom & Nom</th>
                            <th>Civilite</th>
                            <th>Fonction</th>
                            <th>Categorie</th>
                            <th>N°AMO</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for salaire in salaires %}
                        <tr>
                            <td>{{ salaire.employe.matricule }}</td>
                            <td>{{ salaire.employe.prenom }} {{ salaire.employe.nom }}</td>
                            <td>{{ salaire.employe.civilite }}</td>
                            <td>{{ salaire.employe.fonction }}</td>
                            <td>{{ salaire.employe.categorie }}</td>
                            <td>{{ salaire.employe.numeroAssuranceMaladie }}</td>
                            {#<td>{{ salaire.employe.dateContratAt ? salaire.employe.dateContratAt|date('Y-m-d') : '' }}</td>
                            <td>{{ salaire.employe.situationFamiliale }}</td>#}
                            <td>
                                <a class="btn btn-outline-primary" href="{{ path('salaire_pdf', {'id': salaire.id}) }}"><i class="fas fa-print"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
