{% extends 'layout/layout.html.twig' %}

{% set total = 0 %}

{% block title %}Fiche individuel de salaire{% endblock %}
{% block stylesheets %}
        <style>
                .form-individuel label {
                        justify-content: left;
                        width: 48%;
                }
                .form-individuel .form-control {
                        width: 48%;
                }
        </style>
{% endblock %}
{% block angularJS %} ng-app {% endblock %}
{% block body %}
        <h3>Fiche individuel de salaire <span class="float-right">Mois de: {{ month }} </span></h3>
        <br/>
        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
                {{ message }}
        </div>
        {% endfor %}
        {% for message in app.flashes('errors') %}
        <div class="alert alert-danger">
                {{ message }}
        </div>
        {% endfor %}

        <form class="form-inline form-individuel" method="GET" action="{{ path('salaires_new') }}" >
                <div class="border p-3 w-100">
                <div class="row">
                        <div class="col-md-4">
                                <div class="form-group">
                                        <label  class="mr-sm-2" for="salaireMatricule">Matricule</label>
                                        <select name="Matricule" class="form-control form-control-sm" id="salaireMatricule">
                                                {% for employe in employes %}
                                                        <option value="{{ employe.id }}" >{{ employe.matricule }}</option>
                                                {% endfor %}
                                        </select>
                                </div>
                        </div>
                </div>
                <br/>
                <div class="row">
                        <div class="col-md-4">
                                <div class="form-group">
                                        <label  class="mr-sm-2" for="salairePrenomNom">Prénom & Nom</label>
                                        <input name="prenomNom" type="text" class="form-control form-control-sm" id="salairePrenomNom">
                                </div>
                                <div class="form-group">
                                        <label  class="mr-sm-2" for="salaireDateNaissance">Date Naissance</label>
                                        <input name="naissance" type="text" class="form-control form-control-sm" id="salaireDateNaissance">
                                </div>
                                <div class="form-group">
                                        <label  class="mr-sm-2" for="salaireNombreEnfant">Nombre Enfant</label>
                                        <input name="enfants" type="text" class="form-control form-control-sm" id="salaireNombreEnfant">
                                </div>
                                <div class="form-group">
                                        <label  class="mr-sm-2" for="salaireTypeContrat">Type Contrat</label>
                                        <input name="typeContrat" type="text" class="form-control form-control-sm" id="salaireTypeContrat">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="form-group">
                                        <label  class="mr-sm-2" for="salaireCategorie">Catégorie</label>
                                        <input name="categorie" type="text" class="form-control form-control-sm" id="salaireCategorie">
                                </div>
                                <div class="form-group">
                                        <label  class="mr-sm-2" for="salaireCivilite">Civilité</label>
                                        <input name="civilite" type="text" class="form-control form-control-sm" id="salaireCivilite">
                                </div>
                                <div class="form-group">
                                        <label  class="mr-sm-2" for="salaireFonction">Fonction</label>
                                        <input name="fonction" type="text" class="form-control form-control-sm" id="salaireFonction">
                                </div>
                                <div class="form-group">
                                        <label  class="mr-sm-2" for="salaireDateEmbauche">Date Embauche</label>
                                        <input name="embauche" type="text" class="form-control form-control-sm" id="salaireDateEmbauche">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="form-group">
                                        <label  class="mr-sm-2" for="salaireSituationFamiliale">Situation Familiale</label>
                                        <input name="situationFamiliale" type="text" class="form-control form-control-sm" id="salaireSituationFamiliale">
                                </div>
                        </div>
                </div>
                </div>
                <div class="border p-3 w-100">
                <div class="row">
                        <div class="col-md-4">
                                <div class="form-group">
                                        <label  class="mr-sm-2" for="base">Salaire de base</label>
                                        <input name="base" type="text" class="form-control form-control-sm" id="base">
                                </div>
                                <div class="form-group">
                                        <label  class="mr-sm-2" for="avantage">Avantages</label>
                                        <input name="avantage"type="text" class="form-control form-control-sm" id="avantage">
                                </div>
                                <div class="form-group">
                                        <label  class="mr-sm-2" for="prime">Primes</label>
                                        <input name="prime" type="text" class="form-control form-control-sm" id="prime">
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="form-group">
                                        <label  class="mr-sm-2" for="brut">Salaire brut</label>
                                        <input name="brut" type="text" class="form-control form-control-sm" id="brut">
                                </div>
                                <div class="form-group">
                                        <label  class="mr-sm-2" for="net">Salaire net</label>
                                        <input name="net" type="text" class="form-control form-control-sm" id="net">
                                </div>
                        </div>
                </div>
                </div>
                <button type="submit" class="btn btn-success mt-3">Valider</button>
        </form> 
{% endblock %}

{% block javascripts %}
        <script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js" ></script>
{% endblock %}
