<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Liste salarie</title>
        <link href="./css/salaire.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="employes">
        <table id="enTete">
            <tr>
                <td width="78">
                    <img src="images/logo.jpg" alt="Logo" width="65" height="65" />
                </td>
                <td width="585"><h2>Situation des salaires du mois de : {{ mois }}</h2></td>
            </tr>
        </table>
        <br/>
        
        <table id="total">
            <tr >
                <td class="titre_employe" width="78">Matricule </td>
                <td class="titre_employe" width="78">Prénom & Nom </td>
                <td class="titre_employe" width="78">Fonction </td>
                <td class="titre_employe" width="78">catégorie </td>
                <td class="titre_employe" width="78">Sal. Base </td>
                <td class="titre_employe" width="75">Primes </td>
                <td class="titre_employe" width="78">Avantages </td>
                <td class="titre_employe" width="78">Sal. Brut </td>
                <td class="titre_employe" width="78">Sal. Net </td>
            </tr>
            {% for salarie in salaries %}
            <tr >
                <td width="78">{{ salarie.employe.matricule }}</td>
                <td width="78">{{ salarie.employe.prenom }} {{ salarie.employe.nom }}</td>
                <td width="78">{{ salarie.employe.fonction }}</td>
                <td width="78">{{ salarie.employe.categorie }}</td>
                <td width="78">{{ salarie.salaireBase }} FCFA</td>
                <td width="75">{{ salarie.prime }} FCFA</td>
                <td width="78">{{ salarie.avantage }} FCFA</td>
                <td width="78">{{ salarie.salaireBrut }} FCFA</td>
                <td width="78">{{ salarie.salaireNet }} FCFA</td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="19">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
        </table>
        <br/>
        <div id="footer">
            <span class="color strong">{{ "now"|date("d/m/Y") }}</span>
            <br />
            [[page_nb]]
        </div>
    </body>
</html>