{% extends 'layout/layout.html.twig' %}

{% block title %}Dépense{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4 bg-white p-3">
            <h3 class="h3 mb-5 font-weight-normal">Dépense</h3>

            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary">{{ button_label|default('Enregistré') }}</button>
                <button class="btn btn-warning" type="reset">Annulé</button>
            {{ form_end(form) }}

            <br/>

            <a class="btn btn-outline-primary" href="{{ path('caisse_pdf') }}">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
