{% extends 'layout/layout.html.twig' %}

{% block title %}Dépense{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4 bg-white p-3">
            <h3 class="h3 mb-5 font-weight-normal">Dépense</h3>

            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary">{{ button_label|default('Enregistré') }}</button>
                <button class="btn btn-warning" type="reset">Annulé</button>
            {{ form_end(form) }}

            <br/>

            <a class="btn btn-outline-primary" href="{{ path('caisse_pdf') }}">Retour à la liste</a>
        </div>
        <div class="col-md-8 bg-light p-3">
            <h3>Liste des dépenses</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Motif</th>
                        <th>Montant</th>
                        <th>Date</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for depense in depenses %}
                    <tr>
                        <td>{{ depense.motif }}</td>
                        <td>{{ depense.sortie }}</td>
                        <td>{{ depense.dateAt|date('Y-m-d H:i:s') }}</td>
                        <td>
                            <a class="btn btn-outline-primary" href="{{ path('edit_depense', {'id': depense.id}) }}"><i class="far fa-edit"></i></a>
                            <form method="post" action="{{ path('delete_depense', {'id': depense.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ depense.id) }}">
                                <button class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">Aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
