{% extends 'layout/layout.html.twig' %}

{% block title %}Situation de la caisse{% endblock %}

{% block body %}
    <div class="containerBackground">
        <h1>Situation de la caisse</h1>
        <br/>
        <form class="form-inline" method="get">
        <label for="anneeSearch">Choisissez l'année : </label>
            <select name="anneeSearch" id="anneeSearch" class="form-control">
            {% for anneeSearch in anneeSituation %}
                <option  value="{{ anneeSearch }}" {% if anneeSearch == selected %} selected {% endif %}>
                    {{ anneeSearch }}
                </option>
            {% endfor %}
            </select><br>
            <button type="submit" class="btn btn-primary">Recherche</button>
        </form>
        <br/>
        <div class="row">
            <div class="col-md-2">
                <ul class="list-group">
                    <li class="list-group-item bg-primary text-light font-weight-bold">Liste des mois</li>
                    {% for month in months %}
                        {% set mois = month ~ '-' ~ loop.index %}
                        <li class="list-group-item">
                            <a href="{{ path('caisse_mois', {'mois' : mois}) }}">
                                {{ month }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-5">
                <table class="table table-bordered table-info">
                    <h3>Approvisionnements</h3>
                    <thead>
                        <tr>
                            <th>Motif</th>
                            <th>Montant</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if approvisionnements.ligne is defined and approvisionnements.ligne is not null %}
                        {% for caisse in approvisionnements.ligne %}
                            <tr>
                                <td>{{ caisse.motif }}</td>
                                <td>{{ caisse.montant|number_format(0, '.', ' ') }} FCFA</td>
                                <td>{{ caisse.date|date('Y-m-d') }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6">Aucun enregistrement n'a été trouvé !</td>
                        </tr>
                    {% endif %}
                        <tr>
                            <td><strong>Total : </strong></td>
                            <td colspan="2"><strong>{{ approvisionnements.total|number_format(0, '.', ' ') }} FCFA</strong></td>
                        </tr>
                    </tbody>
                </table>
        
            </div>
            <div class="col-md-5">
                <table class="table table-bordered table-secondary">
                    <h3>Dépenses</h3>
                    <thead>
                        <tr>
                            <th>Motif</th>
                            <th>Montant</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if depenses.ligne is defined and depenses.ligne is not null %}
                        {% for depense in depenses.ligne %}
                            <tr>
                                <td>{{ depense.motif }}</td>
                                <td>{{ depense.montant|number_format(0, '.', ' ') }} FCFA</td>
                                <td>{{ depense.date|date('Y-m-d') }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6">Aucun enregistrement n'a été trouvé !</td>
                        </tr>
                    {% endif %}
                        <tr>
                            <td><strong>Total : </strong></td>
                            <td colspan="2"><strong>{{ depenses.total|number_format(0, '.', ' ') }} FCFA</strong></td>
                        </tr>
                    </tbody>
                </table>
        
            </div>
        </div>
    </div>
{% endblock %}
