{% extends 'layout/layout.html.twig' %}

{% block title %}Liste des fournisseurs{% endblock %}

{% block body %}
    <div class="containerBackground">
        <h1 class="h3 mb-5 font-weight-normal">Liste des fournisseurs</h1>
        <a class="btn btn-outline-success float-right" href="{{ path('fournisseurs_new') }}">Ajouter un fournisseur</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Telephone</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for fournisseur in fournisseurs %}
                <tr>
                    <td>{{ fournisseur.numero }}</td>
                    <td>{{ fournisseur.prenom }}</td>
                    <td>{{ fournisseur.nom }}</td>
                    <td>{{ fournisseur.adresse }}</td>
                    <td>{{ fournisseur.telephone }}</td>
                    <td>
                        <a class="btn btn-outline-primary" href="{{ path('fournisseurs_edit', {'id': fournisseur.id}) }}"><i class="far fa-edit"></i></a>
                        <form method="post" action="{{ path('fournisseurs_delete', {'id': fournisseur.id}) }}" class="d-inline-block" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fournisseur.id) }}">
                            <button class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
